@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding:0 ;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    margin-top:150px;
    font-family: 'Poppins', sans-serif;
    color: rgb(214, 214, 214);
    background-image: url(https://images.unsplash.com/photo-1613059093860-582e53c584c3?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9uZG8lMjBkZSUyMHBhbnRhbGxhJTIwZGUlMjBlZGlmaWNpb3xlbnwwfHwwfHx8MA%3D%3D);
    background-image: cover;
}
nav{
    background-color: #080808;
    height: 90px;
    width: 100%;
    position: fixed;
    left:0;
    top:0;
}
label.logo{
    color: #c52525;
    font-size: 100px;
    line-height: 80px;
    padding: 0 100px;
}
nav ul{
    float: right;
    margin-right:20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0 5px;
}
nav ul li a{
    color: rgb(247, 70, 70);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background:none;
    border: solid 2px rgb(93, 189, 93);
    transition: .1s;
    font-size: 20px;
}
.checkbtn{
    font-size: 30px;
    color: rgb(241, 138, 138);
    float:right;
    line-height: 80px;
    margin-right: 5px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.portada{
    padding-left: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.titulo{
    margin-right: 80px;
}
.boton{
    background-color: #FF702A;
    font-size: 20px;
    border: none;
    height: 50px;
    width: 150px;
    color: rgb(51, 36, 36);

}
.title{
    font-size: 90px;
    color: #FF702A;
}
#container{
    margin: 150px;

}
.container{
    background-color: #525050;
    background-size: cover ;
}
.segunda{
    display: flex;
    justify-content: center;
}
.boton{
    background-color: #FF702A;
    font-size: 20px;
    border: none;
}
.car{
    margin-left:85%;
    margin-top: 10px;
}
.speak{
    font-size: 40px;
}
.info{
    margin-left: 100px;
}
.little{
    font-size: 20px;
}
.title3{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 70px;
}
.tercera{
    display: flex;
    flex-direction: column;
}
.combos{
    display: flex;
    justify-content: space-around;
}
.combo{
    background-color: #f7bea6;
    margin: 15px;
    color:black;
    border-radius: 12px;
    border: 5px solid rgb(0, 0, 0);
    outline: 3px solid #c7afa5;
    text-align: center;
    width: 400px;
}
.fotoCombo{
    width: 300px
}
.item{
    font-size: 25px;
}
.tasty{
    font-size: 20px;
}
.price{
    font-size: 17px;
    color:#FF702A
}
.im3{
    margin-top: 10px;
    width: 300px
}
.cuarta{
    display: flex;
    flex-direction: column;
}
.title4{
    margin-bottom: 70px;
    text-align: center;
}
.services{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.desc{
    color: #FF702A;
    font-size: 25px;
}
.item4{
    font-size: 20px;
}
.pink{
    background-color: #5c5b5b ;   
    margin: 0px 80px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:black;
    border-radius: 25px ;
    border: 5px solid rgb(0, 0, 0);
    outline: 3px solid #070707;
}
.we{
    font-size: 50px;
    font-style: oblique;
    margin-bottom: 25px;
}
.final{
    display: flex;
    justify-content: space-around;
}
.col{
    display: flex;
    flex-direction: column;
}
.under{
    background-color: #FF702A;
    border:none;
    width: 50%;
    height: 1.5px;
    display: flex;
    margin-bottom: 15px;
    padding: 0;
}
.linkFF{
    color:rgb(53, 52, 52);
    text-decoration: none;
}
.socialD{
    display: flex;
}
.social{
    width:50px;
    padding:5px;
}
@media(max-width:700px){
    body{
        margin-right: 0;
        margin-left: 0px ;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position:fixed;
        width:100%;
        height: 60vh;
        background-color:#8d8c91;
        top:80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    
    #check:checked ~ul{
        left:0;
    }
    .logo{
        text-align: left;
        margin-left: 0;
    }
    a.active,a:hover{
        font-size: 28px;
    }
    .portada{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-top: 80px;
    }
    .titulo{
        text-align: center;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .image{
        display: flex;
        width: 300px; 
        margin-top: 25px;       
    }
    .foto{
        display: flex;
        justify-content: center;
    }
    .segunda{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }
    .speak{
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 30px;
    }
    #j{
        font-size: 20px;
    }
    .little{
        font-size: 18px;
        margin-bottom: 15px;
    }
    .info{
        margin-left: 0;
    }
    .tercera{
        display: flex;
        flex-direction: column;
    }
    .combos{
        text-align: center;
        flex-direction: column;
    }
    .combo{
        background-color: #050505;
        margin: 15px;
        color:black;
        border-radius: 12px;
        border: 5px solid rgb(0, 0, 0);
        outline: 3px solid #2b2a2a;
        width: 360px;
    }
    .item{
        font-size: 25px;
    }
    .tasty{
        font-size: 20px;
    }
    .price{
        font-size: 17px;
        color:#FF702A
    }
    .im3{
        margin-top: 10px;
        width: 200px;
    }
    .fotoCombo{
        width: 200px;
    }
    .title3{
        margin-bottom: 0;
    }
    .cuarta{
        display: flex;
        flex-direction: column;
    }
    .title4{
        margin-bottom: 0px;
        text-align: center;
    }
    .services{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .service{
        margin-bottom: 45px;
        margin-top: 45px;
    }
    .pink{
        background-color: #FFEFE8 ;   
        margin: 0px 10px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color:black;
        border-radius: 25px ;
        border: 5px solid rgb(0, 0, 0);
        outline: 3px solid #FFEFE8;
    }
    .we{
        font-size: 32px;
        font-style: oblique;
        margin-bottom: 15px;
    }
    .under{
        background-color: #FF702A;
        border:none;
        width: 20%;
        height: 1.5px;
        display: flex;
        margin-bottom: 15px;
        padding: 0;
    }
    .final{
        display: flex;
        flex-direction: column;
    }
    .linkFF{
        color:white;
        text-decoration: none;
    }
    .socialD{
        display: flex;
    }
    .social{
        width:40px;
        padding:5px;
    }
    .col{
        padding: 20px;
    }

}



