





body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url();
    background-size: contain;
}


header {
    background-color: rgb(241, 189, 201);
    color: #9e0303;
    text-align: center;
    padding: 20px 0;
}


.nosotros {
    
    padding: 50px 0;
    text-align: center;
}

.nosotros-content {
    max-width: 800px;
    margin: 0 auto;
}

.nosotros h1 {
    font-size: 36px;
    color: #b4105d;
}

.nosotros p {
    font-size: 18px;
    color: rgb(243, 7, 137);
}

.fondo{

}