@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
/* general */
body{
    font-family: "Roboto", sans-serif;  
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: rgb(219, 219, 219);

}

h2{
    text-align: center;
}
div{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(80, 81, 82);
    margin: 5px 15px;
    padding: 5px;
    width: 50%;
    height: fit-content;
    text-align: center;
    border-radius: 10px;
    transition-duration: 3s;
}
/* encabezado */
header {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
header a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 3px 2px black;
}
header a img {
    width: 74%;
    height: 74%;
}
/* main */
main section.Catalogo{
    display: flex;
    overflow-x: scroll;
}
main section.Masvendidos{
    display: flex;
    overflow-x: scroll;
}
div.Color1{
    background-color: hsl(212, 62%, 86%);
}
div.Color2{
    background-color: hsl(0, 75%, 89%);
}
div a{
    color: white;
    background-color: black;
    border-radius: 10px;
    text-decoration: none;
}


@keyframes animation1 {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}